:root {
    --mark: #52b69a;
    --white: #f8f9fa;
    --black: #212529;
    --grey: #343a40;
    --border: #495057;
    --warning: #e63946;

    --rail: #f2b701;
    --road: #3969ac;
    --tram: #11a579;
    --route: #8c7a6b;
    --midPoint: #cdb4db;
}

body {
    margin: 0;
}

button {
    z-index: 1000;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 0.5rem;
    border: solid transparent 0.2rem;
    background: none;
    color: var(--white);
}

button:hover {
    border: solid var(--mark) 0.2rem;
}

.selBtn {
    border: solid var(--mark) 0.2rem;
    background-color: var(--black);
}

button:disabled {
    opacity: 0.5;
    background-color: transparent !important;
    border: none !important;
    color: var(--white) !important;
}

.verticalSpace {
    margin: auto 0;
}

.horizontalSpace {
    margin: 0 auto;
}

.content {
    position: relative;
    z-index: 1000;
    background-color: var(--grey);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    overflow: scroll;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem 0.1rem var(--border);
}

.optionsGroup {
    display: flex;
    flex-direction: row;
}

.option {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

p {
    color: var(--white);
    margin: 0.5rem auto auto auto;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: var(--grey);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem 0.1rem var(--border);
}

.custom-popup .leaflet-popup-tip {
    background: var(--grey);
}

.custom-popup .leaflet-popup-content {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.leaflet-popup-content {
    width: auto !important;
}

.mapBtn {
    margin: 0 !important;
    width: auto;
}

.mapBtnTxt {
    width: 6rem;
    margin: 0 !important;
}

p.mapBtnTxt {
    width: auto;
}

.mapBtnIn {
    width: 2.5rem;
    filter: invert();
}

.mapBtnDiv {
    display: flex;
}

.mapDiv {
    display: flex;
    flex-direction: column;
}

.mat-icon {
    color: var(--white);
}

#login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    z-index: 2000;
}

.outerMenu {
    display: flex;
    width: 100vw;
    margin: auto;
    height: 100vh;
}

.innerMenu {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    width: 20vw;
    background-color: var(--black);
    border-radius: 0.5rem;
}

p.text {
    font-family: verdana;
    font-size: 1.25rem;
    color: var(--white);
    margin: auto;
    text-align: center;
}

input.login, button.login {
    font-family: verdana;
    font-size: 1rem;
    width: 10rem;
    color: var(--white);
    background-color: var(--grey);
    border: solid transparent 0.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem auto auto auto;
}

input.login:hover, button.login:hover {
    background-color: var(--grey);
    border: solid var(--mark) 0.2rem;
}

input.loginText {
    background-color: var(--white);
    border: transparent;
    color: var(--black);
    width: 100%;
}

input.loginText:hover {
    background-color: var(--white);
    border: transparent;
}

.title {
    display: flex;
    margin: auto auto 2rem auto;
    width: 25rem;
    align-items: center;
    justify-content: center;
}