<div [ngSwitch]="state" style="height: 100%;">
    <span class="content" [ngClass]="state === 'replaceDecision' ? 'two-width' : ''">
        <!-- Default menu screen -->
        <p class="header" *ngSwitchCase="'menu'">{{ "files-manipulation.header" | translate }}</p>
        <div *ngSwitchCase="'menu'">
            <button (click)="importData()">{{ "files-manipulation.importBtn" | translate }}</button>
            <button (click)="exportMidPointData()">{{ "files-manipulation.exportBtn" | translate }}</button>
        </div>
        <!-- Import maps screen -->
        <p class="header" *ngSwitchCase="'impData'">{{ "files-manipulation.import.header" | translate }}</p>
        <div *ngSwitchCase="'impData'">
            <div class="option">
                <p class="option">{{ "files-manipulation.import.files" | translate }}</p>
                <input class="fileInput" type="file" (change)="readFile($event)" multiple>
            </div>
            <div *ngIf="warningType" class="warning">
                <p class="warning">{{ warningTypeText }}</p>
            </div>
            <button class="mark" (click)="importData()">{{ "files-manipulation.import.importData" | translate }}</button>
            <div *ngIf="warning" class="warning">
                <p class="warning">{{ warningText }}</p>
            </div>
            <button (click)="defaultMenu()">{{ "files-manipulation.import.menu" | translate }}</button>
        </div>
        <!-- Import line data menu -->
        <p class="header" *ngSwitchCase="'impLineData'">{{ "files-manipulation.import.lines" | translate }}</p>
        <div *ngSwitchCase="'impLineData'">
            <button class="mark" (click)="state = 'impDataWar'">{{ "files-manipulation.import.allLines" | translate }}</button>
            <button class="mark" (click)="waitForPress()">{{ "files-manipulation.import.chooseLines" | translate }}</button>
        </div>
        <!-- Import clear line data screen warning -->
        <p class="header" *ngSwitchCase="'impDataWar'">{{ "files-manipulation.import.warning" | translate }}</p>
        <p class="header" *ngSwitchCase="'impDataWar'">{{ "files-manipulation.import.sameData" | translate }}</p>
        <div *ngSwitchCase="'impDataWar'">
            <button class="mark" (click)="generalReplace = true; waitForPress()">{{ "files-manipulation.import.continue" | translate }}</button>
            <button (click)="state = 'impLineData'">{{ "files-manipulation.import.cancel" | translate }}</button>
        </div>
        <!-- No data can be loaded from input files warning -->
        <p class="header" *ngSwitchCase="'impNoDataWar'">{{ "files-manipulation.import.incorrectData" | translate }}</p>
        <div *ngSwitchCase="'impNoDataWar'">
            <button (click)="defaultMenu()">{{ "files-manipulation.menuBtn" | translate }}</button>
        </div>
        <!-- Progress screen -->
        <p class="header" *ngSwitchCase="'progress'">{{ progressText }}</p>
        <div *ngSwitchCase="'progress'">
            <div class="progress" [style.width]="progress+'%'">
                {{ progress + '%'}}
            </div>
            <button class="mark" *ngIf="progress === 100" (click)="importDataIntroDB()">{{ "files-manipulation.closeBtn" | translate }}</button>
        </div>
        <!-- On lines compare screen -->
        <p class="header" *ngSwitchCase="'linesComp'">{{ progressText }}</p>
        <span class="routesCmpMainDiv" *ngSwitchCase="'linesComp'">
            <div class="routeStopsMainDiv">
                <div class="routesLineElem">
                    <p class="routeLineHeaderElem">{{ "files-manipulation.replace.line" | translate }}</p>
                    <p class="routeLineHeaderElem">{{ "files-manipulation.replace.route_a" | translate }}</p>
                    <p class="routeLineHeaderElem">{{ "files-manipulation.replace.route_b" | translate }}</p>
                </div>
            </div>
        </span>
        <span class="routesCmpMainDiv" *ngSwitchCase="'linesComp'">
            <div class="routeStopsMainDiv">
                <div *ngFor="let line of linesComp; let index = index; let first = first; let last = last; let odd = odd"
                    class="routesLineElem" [ngClass]="{'routeStopsElemOdd': odd}">
                    <p class="routeStopsName" [ngClass]="line.diff_a || line.diff_b ? 'routeStopsGreen' : ''">{{ line.code }}</p>
                    <p class="routeStopsName" [ngClass]="line.diff_a || line.diff_b ? 'routeStopsGreen' : ''">{{ line.label }}</p>
                    <input class="routeStopsInput" [checked]="line.chosen_a" [(ngModel)]="line.chosen_a" type="checkbox"
                    [style.grid-column]="line.diff_a ? '' : 'span 2 / span 2'" [style.margin]="line.diff_a ? '' : 'auto'">
                    <button class="routeStopsButton routeStopsButtonHeader" (click)="showRouteDifference(line.lc, 'a')" *ngIf="line.diff_a">
                        {{ "files-manipulation.replace.route_a" | translate }}
                    </button>
                    <input class="routeStopsInput" [checked]="line.chosen_b" [(ngModel)]="line.chosen_b" type="checkbox"
                    [style.grid-column]="line.diff_b ? '' : 'span 2 / span 2'" [style.margin]="line.diff_b ? '' : 'auto'">
                    <button class="routeStopsButton routeStopsButtonHeader" (click)="showRouteDifference(line.lc, 'b')" *ngIf="line.diff_b">
                        {{ "files-manipulation.replace.route_b" | translate }}
                    </button>
                </div>
            </div>
        </span>
        <div *ngSwitchCase="'linesComp'">
            <button class="mark" (click)="waitForPress()">{{ "files-manipulation.replaceBtn" | translate }}</button>
            <button class="mark" (click)="defaultMenu()">{{ "files-manipulation.leaveBtn" | translate }}</button>
        </div>
        <!-- On route replace screen -->
        <p class="header" *ngSwitchCase="'replaceDecision'">{{ warningText }}</p>
        <p class="header" *ngSwitchCase="'replaceDecision'">{{ progressText }}</p>
        <span class="routesMainDiv">
            <div class="routeStopsMainDiv" *ngSwitchCase="'replaceDecision'">
                <p class="routeStopsHeader">{{ "files-manipulation.currentStops" | translate }}</p>
                <div *ngFor="let stop of curRouteStops; let index = index; let first = first; let last = last; let odd = odd"
                    class="routeStopsElem" [ngClass]="{'routeStopsElemOdd': odd, 'routeStopsElemDis': stop.dis}">
                    <p class="routeStopsName">{{ (index + 1) + ': ' + stop.label }}</p>
                    <input class="routeStopsInput" [checked]="!stop.dis" disabled type="checkbox">
                </div>
            </div>
            <div class="routeStopsMainDiv" *ngSwitchCase="'replaceDecision'">
                <p class="routeStopsHeader">{{ "files-manipulation.newStops" | translate }}</p>
                <div *ngFor="let stop of routeStops; let index = index; let first = first; let last = last; let odd = odd"
                    class="routeStopsElem" [ngClass]="{'routeStopsElemOdd': odd, 'routeStopsElemDis': stop.dis}">
                    <p class="routeStopsName" [ngClass]="stop.diff ? 'routeStopsGreen' : ''">{{ (index + 1) + ': ' + stop.label }}</p>
                    <input class="routeStopsInput" [checked]="!stop.dis" disabled type="checkbox">
                </div>
            </div>
        </span>
        <div *ngSwitchCase="'replaceDecision'">
            <button class="mark" (click)="closeRouteDifference(true)">{{ "files-manipulation.replaceBtn" | translate }}</button>
            <button class="mark" (click)="closeRouteDifference(false)">{{ "files-manipulation.leaveBtn" | translate }}</button>
        </div>
    </span>
</div>