<div class="content" [ngSwitch]="state">
    <!-- Default menu screen -->
    <p class="header" *ngSwitchCase="'menu'">Import a export linkového vedení</p>
    <div *ngSwitchCase="'menu'">
        <button (click)="importData()">Načtení mapových podkladů</button>
    </div>
    <!-- Import maps screen -->
    <p class="header" *ngSwitchCase="'impData'">Import linkových podkladů</p>
    <div *ngSwitchCase="'impData'">
        <div class="option">
            <p class="option">Vstupní soubory</p>
            <input class="fileInput" type="file" (change)="readFileContent($event)">
        </div>
        <div *ngIf="warningType" class="warning">
            <p class="warning">{{ warningTypeText }}</p>
        </div>
        <button class="mark" (click)="importData()">Importuj data</button>
        <div *ngIf="warning" class="warning">
            <p class="warning">{{ warningText }}</p>
        </div>
        <button (click)="defaultMenu()">Menu</button>
    </div>
    <!-- Import maps screen warning -->
    <p class="header" *ngSwitchCase="'impDataWar'">Pozor!</p>
    <p class="header" *ngSwitchCase="'impDataWar'">Importem načtených souborů se přepíší aktuálně používaná data.</p>
    <div *ngSwitchCase="'impDataWar'">
        <button class="mark" (click)="importMapIntroDB()">Pokračovat</button>
        <button (click)="defaultMenu()">Zrušit</button>
    </div>
    <!-- Progress screen -->
    <p class="header" *ngSwitchCase="'progress'">{{ progressText }}</p>
    <div *ngSwitchCase="'progress'">
        <div class="progress" [style.width]="progress+'%'">
            {{ progress + '%'}}
        </div>
        <button class="mark" *ngIf="progress === 100" (click)="importMapIntroDB()">Zavřít</button>
    </div>
</div>