p.header {
    margin: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
}

p.option {
    margin: 0;
}

p.warning {
    text-align: center;
    margin: 0.5rem auto 0.5rem auto;
}

button {
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
}

button:first-child {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

button.mark:hover {
    background-color: var(--mark);
    color: var(--black);
}

button.warning:hover {
    background-color: var(--warning);
    color: var(--black);
    border: solid var(--warning) 0.2rem;
}

input {
    padding: 0;
    width: -moz-available;
    height: 2rem;
}

textarea {
    padding: 0;
    max-width: calc(100% - 0.25rem) !important;
    height: 2rem;
}

div.warning {
    width: calc(100% - 1rem);
    background-color: var(--warning);
    font-size: 0.75rem;
    margin: 0 auto 0 auto;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
}

select {
    width: calc(100% - 1rem);
    margin: 0.5rem;
}

.propsOption {
    flex-direction: row;
}

.propsButton {
    width: 2.5rem;
    height: auto;
}

.propsButton:hover {
    background-color: var(--warning);
    color: var(--black);
    border: solid var(--warning) 0.2rem;
}

.fileInput {
    margin: 0.5rem;
    color: var(--white);
}

.progress {
    margin: 0.5rem;
    color: var(--white);
    background-color: var(--mark);
    padding: 0.75rem 0;
    max-width: calc(100% - 1rem);
    text-align: center;
}

.two-width {
    width: 40vw;
}

.routeStopsElem {
    display: flex;
    margin: 0.25rem 0;
}

.routeStopsElemOdd {
    background-color: var(--border);
}

.routeStopsInput {
    margin: auto 0;
    width: 1.5rem;
    height: 1.5rem;
    accent-color: var(--mark);
    border: solid var(--mark) 0.2rem;
}

.routeStopsName {
    margin: auto auto auto 0;
}

.routesMainDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em;
    column-gap: 1em;
}

.routeStopsGreen {
    color: var(--mark);
}

.routeStopsHeader {
    margin: 1em auto;
    text-align: center;
}