#control {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#mapDisabled {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--grey);
    opacity: 0.5;
}

#mainControl {
    display: flex;
    height: calc(100vh);
}

#leftControl {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    z-index: 1000;
    border-right: solid var(--border) 0.2rem;
}

#middleControl {
    margin: 0 auto 0 0;
    height: calc(100vh - 2.25rem);
    display: flex;
}

#tail {
    height: 1.25rem;
    display: flex;
    margin: auto;
    color: var(--white);
    background-color: var(--black);
}

div.tailInfo {
    margin: auto 0.5rem;
    font-size: 0.75rem;
    display: flex;
}

mat-icon.tailInfo {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin: auto 0.25rem auto 0;
    font-feature-settings: "smcp" on;
}