.img {
    width: 4rem;
    height: 4rem;
    border: solid transparent 0.2rem;
    border-radius: 0.5rem;
    margin: auto;
    display: flex;
    opacity: 0.5;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.icons {
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
    margin: auto;
    filter: invert(90%);
}

.img:hover {
    border: solid var(--mark) 0.2rem;
    opacity: 1;
}

.opt_selected {
    border: solid var(--mark) 0.2rem !important;
    background-color: var(--black);
    opacity: 1;
}